{% extends "base.html" %}
{% block content %}
<br><br><br>
<h1>Caractéristiques du produit de substitution</h1>
<figure>
<img src="{{ substituted.image_url }}" alt="{{ substituted.product_name }}"/>
<figcaption>{{ substituted.product_name }}</figcaption>
</figure>

<h2>Vous pouvez remplacer cet aliment par:</h2>
<form action="{% url 'description_product' %}" method="post">
    {% for product in substitutions %}
        {% csrf_token %}
        <input type="submit" name="product_id" id="choice{{ forloop.counter }}" value="sauvegarder"/>
        <input type="text" name="product_id" id="choice{{ forloop.counter }}" value="{{ product.id }}"/>
        <label for="choice{{ forloop.counter }}">
            <p>Nutriscore: {{ product.nutriscore_grade }}</p>
            <img src="{{ product.image_url }}" alt="{{ product.product_name }}">
            <h3>{{ product.product_name }}</h3>
        </label>
        {% endfor %}
</form>
{% endblock %}